*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  background-color: #FBFBFB;
  color: #555; }

body {
  font-size: 1.6rem; }

.container {
  min-height: 100vh;
  margin: auto;
  box-shadow: 0 1px 1rem rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: [goal-start] minmax(30rem, 35vw) [goal-end] minmax(min-content, 1fr) [subgoal-start] 60vw [subgoal-end] 1fr;
  grid-template-rows: min-content 1fr 10rem;
  grid-column-gap: 1.5rem; }

.goal-list {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);
  grid-column: goal-start / goal-end;
  grid-row: 2 / -1;
  background-color: #49b3c9; }
  .goal-list .item {
    color: #fff;
    border-bottom: 1px dotted #37a0b5; }
    .goal-list .item:hover {
      background-color: #37a0b5; }
    .goal-list .item__status--label {
      border: 1px solid #fff; }
    .goal-list .item .context-btn {
      background-color: #37a0b5; }
      .goal-list .item .context-btn:hover .more-options__btn {
        background-color: #fff; }
        .goal-list .item .context-btn:hover .more-options__btn::before, .goal-list .item .context-btn:hover .more-options__btn::after {
          background-color: #fff; }
    .goal-list .item .more-options__btn {
      background-color: #e6e6e6; }
      .goal-list .item .more-options__btn::before, .goal-list .item .more-options__btn::after {
        background-color: #e6e6e6; }
    .goal-list .item--completed .item__status--label {
      background-color: white; }

.item-list {
  padding: 2rem; }

.subgoal-container {
  grid-row: 2 / 3;
  grid-column: subgoal-start / subgoal-end;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.1); }
  .subgoal-container .add__btn {
    width: 3.5rem;
    height: 3.5rem; }

.subgoal-list {
  flex: 1; }
  .subgoal-list .item {
    color: #555;
    border-bottom: 1px dotted #d9eef5; }
    .subgoal-list .item:hover {
      background-color: #f6f6f6; }
    .subgoal-list .item__status--label {
      border: 1px solid #e6e3e9; }
    .subgoal-list .item .context-btn {
      background-color: #f6f6f6; }
      .subgoal-list .item .context-btn:hover .more-options__btn {
        background-color: #555; }
        .subgoal-list .item .context-btn:hover .more-options__btn::before, .subgoal-list .item .context-btn:hover .more-options__btn::after {
          background-color: #555; }
    .subgoal-list .item .more-options__btn {
      background-color: #bbb; }
      .subgoal-list .item .more-options__btn::before, .subgoal-list .item .more-options__btn::after {
        background-color: #bbb; }

.item {
  padding: .5rem .5rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  position: relative; }
  .item--completed .item__status--label {
    border: 1px solid #45803F;
    color: #45803F; }
    .item--completed .item__status--label:hover {
      transform: scale(1);
      color: #45803F;
      border: 1px solid #45803F; }
  .item--completed .item__name {
    text-decoration: line-through #555; }
  .item__status--checkbox {
    display: none; }
  .item__status--label {
    margin-right: 1rem;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    color: inherit;
    border-radius: 50%;
    transition: all .2s;
    position: relative; }
    .item__status--label:hover {
      transform: scale(1.1);
      color: #D4E74F;
      border: 1px solid #D4E74F; }
    .item__status--label i {
      color: currentColor;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .item__name {
    flex: 1;
    font-size: inherit;
    padding: .5rem 2rem;
    color: #777;
    background-color: transparent;
    border: none;
    color: inherit;
    text-decoration: none; }
    .item__name:focus {
      outline: none; }
  .item-goal--active {
    background-color: #2b7e8e; }

.item:hover .context-btn {
  visibility: visible; }

.context-btn {
  padding-left: 1.5rem;
  padding-right: .5rem;
  align-self: stretch;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  visibility: hidden; }

.more-options__btn {
  display: block;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  border: none;
  position: relative;
  cursor: pointer; }
  .more-options__btn::before, .more-options__btn::after {
    content: "";
    border-radius: 50%;
    width: 5px;
    height: 5px;
    position: absolute;
    left: 0; }
  .more-options__btn:after {
    top: 7px; }
  .more-options__btn:before {
    top: -7px; }
  .more-options__btn:focus {
    outline: none; }

.more-options__menu {
  border-radius: 5px;
  box-shadow: 0 1px 1rem rgba(0, 0, 0, 0.2);
  color: #555;
  background-color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
  transform: translateY(100%); }

.menu {
  list-style: none; }
  .menu__item {
    padding: .5rem 1.5rem;
    transition: all .2s; }
    .menu__item i {
      margin-right: 1rem; }
    .menu__item:hover {
      background-color: #e5e5e5; }

.goal-add {
  grid-column: 1 / span 1;
  align-self: center;
  background-color: #49b3c9;
  border: none;
  border-bottom: 1px dashed #2b7e8e; }
  .goal-add__input::-webkit-input-placeholder {
    color: #9cd4e0; }
  .goal-add__input {
    color: black; }

.subgoal-add {
  border-bottom: 1px dashed #e5e5e5; }
  .subgoal-add__input::-webkit-input-placeholder {
    color: #bbb; }
  .subgoal-add__input {
    color: inherit; }

.item-add {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .item-add__input {
    padding: 1rem 3rem;
    flex: 1;
    background-color: inherit;
    font-size: 1.6rem;
    border: none; }
    .item-add__input:focus {
      outline: none; }
    .item-add__input::-webkit-input-placeholder {
      font-weight: 100; }
  .item-add__btn {
    margin: .5rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-size: 2rem;
    color: #756C83;
    border: 1px solid #e6e3e9;
    transition: all .2s;
    position: relative; }
    .item-add__btn:focus {
      outline: none; }
    .item-add__btn:hover {
      color: #544d5e;
      font-weight: 400; }
    .item-add__btn:active {
      transform: translateY(5%); }
    .item-add__btn i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.btn-up {
  width: 4rem;
  height: 3.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 2.5rem rgba(0, 0, 0, 0.1);
  transition: all .2s;
  grid-row: 2 / 3;
  grid-column: goal-end / subgoal-start;
  align-self: center;
  visibility: hidden; }
  .btn-up i {
    font-size: 2.5rem;
    color: #555; }
  .btn-up:focus {
    outline: none; }
  .btn-up:active {
    transform: translateY(2px); }
  .btn-up--active {
    visibility: visible; }

.item-active {
  padding: 1rem 0 1.5rem 0;
  grid-column: subgoal-start / subgoal-end;
  grid-row: 1 / 2;
  color: #2b7e8e; }
  .item-active__progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 1rem; }
  .item-active__progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; }
  .item-active__progress[value]::-webkit-progress-value {
    background-color: #57a250; }
  .item-active__comment {
    grid-row: 3 / -1;
    grid-column: subgoal-start / subgoal-end; }

.comment {
  width: 100%;
  height: 100%;
  padding: 2rem 4rem;
  font-size: 1.6rem;
  color: inherit;
  border: none; }
  .comment::-webkit-input-placeholder {
    color: #bbb;
    font-weight: 100; }
  .comment:focus {
    outline: none; }

.modal-box {
  z-index: 300;
  width: 35vw;
  height: 30vh;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column; }

.modal-btn {
  display: inline-block;
  border: 2px solid #dee3e8;
  border-radius: 5px;
  outline: none;
  font-size: 1.4rem;
  color: #49b3c9;
  font-weight: 400;
  padding: .5rem 1.5rem;
  transition: all .2s; }
  .modal-btn:hover {
    border: 2px solid #cad2da; }
  .modal-btn:active {
    transform: translateY(0.5px) scale(0.98); }
  .modal-btn--close {
    margin: .5rem;
    width: 3rem;
    height: 3rem;
    display: block;
    border: none;
    outline: none;
    align-self: flex-end;
    transition: all .2s; }
    .modal-btn--close i {
      font-size: 1.8rem;
      color: #49b3c9; }
    .modal-btn--close:active {
      transform: translateY(0.5px) scale(0.98); }

.modal-text {
  flex-grow: 1;
  max-width: 80%;
  margin: 2rem auto;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: .5px; }

.modal-btns {
  margin: .5rem;
  align-self: flex-end; }
  .modal-btns :not(:last-child) {
    margin-right: 1rem; }
