*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    background-color: $color-light;
    color: $color-main-grey;
}

body {
    font-size: 1.6rem;
}

.container {
    width: 100%;
    height: 100vh;
    margin: auto;

    box-shadow: 0 1px 1rem rgba(black, .2);

    display: flex;
    flex-wrap: nowrap;

    @include respond(tab-port) {
        background-color: $color-main-blue-1;
    }
}

.goal-container {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;

    @include respond(tab-port) {
        flex: 1;
        margin: 4rem 3rem;
        border-radius: 5px;
        overflow: hidden;
    }

    @include respond(phone) {
        margin: 2rem 1rem;
    }
}

.btn-up {
    margin: 0 2rem;

    @include respond(tab-port) {
        display: none;
    }
}

.subgoals-container {
    margin-right: 2rem;
    flex: 1;

    display: flex;
    flex-direction: column;

    @include respond(tab-port) {
        margin: 0;
        margin: 4rem 3rem;
        background-color: $color-white;
        border-radius: 5px;
        overflow: hidden;
    }

    @include respond(phone) {
        margin: 0;
    }
}

.container--visible {
    display: flex;
}

.container--hiden {
    @include respond(tab-port) {
        display: none;
    }
}