.item-active {
    padding: 1rem 0 1.5rem 0;
    grid-column: subgoal-start / subgoal-end;
    grid-row: 1 / 2;
    color: $color-secondary-blue-1;

    &__progress[value] {
        /* Reset the default appearance */
        -webkit-appearance: none;
        appearance: none;
      
        width: 100%;
        height: 1rem;
    }

    &__progress::-webkit-progress-bar {
        background-color: #eee;
        border-radius: 2px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }
    
    &__progress[value]::-webkit-progress-value {
        background-color: #57a250;
    }

    &__comment {
        @include respond(tab-port) {
            margin: 0 2rem 1rem 2rem;
            box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.1);
        }
    }

    @include respond(tab-port) {
        padding: 0 2rem;
    }

    &__name {
        @include respond(phone) {
            font-size: 1.8rem;
        }
    }
}

.comment {
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    height: 100%;
    padding: 2rem 4rem;
    font-size: 1.6rem;
    color: inherit;
    border: none;

    &::-webkit-input-placeholder {
        color: $color-grey-light-2;
        font-weight: 100;
    }

    &:focus {
        outline: none;  
    }
}


.btn__return {
    display: none;
    align-self: flex-start;
    font-size: 1.6rem;
    border: none;
    background-color: transparent;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    border-radius: 5px;
    padding: .5rem 1.5rem;
    margin: 1rem 2rem 2rem 2rem;
    outline: none;

    & span {
        margin-right: 1rem;
    }

    @include respond(tab-port) {
        display: block;
    }
}

