.goal-list {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);

    grid-column: goal-start / goal-end;
    grid-row: 2 / -1;

    background-color: $color-main-blue-1;

    & .item {
        color: $color-white;
        border-bottom: 1px dotted $color-secondary-blue-2;

        &:hover { background-color: $color-secondary-blue-2; }

        &__status--label {
            border: 1px solid $color-white;
        }

        & .context-btn {
            background-color: $color-secondary-blue-2;

            &:hover .more-options__btn {
                background-color: $color-white;
        
                &::before,
                &::after { background-color: $color-white; }
            }
        }

        & .more-options__btn {
            background-color: $color-secondary-grey-1;
        
            &::before, 
            &::after {
                background-color: $color-secondary-grey-1;
            }
        }

        &--completed .item__status--label { background-color: white; }
    }
}

.item-list {
    padding: 2rem;
}

.subgoal {

    &-container {
        grid-row: 2 / 3;
        grid-column: subgoal-start / subgoal-end;
    
        display: flex;
        flex-direction: column;

        box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.1);
    
        & .add__btn {
            width: 3.5rem;
            height: 3.5rem;
        }
    }

    &-list {
        flex: 1;

        & .item {
            color: $color-main-grey;
            border-bottom: 1px dotted $color-secondary-blue-3;

            &:hover { background-color: $color-grey-light-3 }

            &__status--label {
                border: 1px solid $color-violet-2;
            }

            & .context-btn  {
                background-color: $color-grey-light-3;

                &:hover .more-options__btn{
                    background-color: $color-main-grey;
            
                    &::before,
                    &::after { background-color: $color-main-grey; }
                }
            }

            & .more-options__btn {
                background-color: $color-grey-light-2;
            
                &::before, 
                &::after {
                    background-color: $color-grey-light-2;
                }
            }
        }
    }
}


.item {
    padding: .5rem .5rem;
    display: flex;
    align-items: center;

    font-size: 1.4rem;
    position: relative;

    &--completed {

        & .item__status--label {
            border: 1px solid $color-green-1;
            color: $color-green-1;

            &:hover {
                transform: scale(1);
                color: $color-green-1;
                border: 1px solid $color-green-1;
            }
        }
        
        & .item__name { text-decoration: line-through $color-main-grey; }
    }

    &__status {
        &--checkbox { display: none; }

        &--label {
            margin-right: 1rem;
            display: inline-block;
            width: 2.5rem;
            height: 2.5rem;

            color: inherit;
            border-radius: 50%;
        
            transition: all .2s;
            position: relative;

            &:hover {
                transform: scale(1.1);
                color: $color-green-2;
                border: 1px solid $color-green-2;
            }

            & i {
                color: currentColor;
                @include absCenter;
            }
        }
    }

    &__name {
        flex: 1;
        font-size: inherit;
        padding: .5rem 2rem;
        color: #777;

        background-color: transparent;
        border: none;

        color: inherit;
        text-decoration: none;

        &:focus {
            outline: none;
        }
    }

    &-goal--active {
        background-color: $color-secondary-blue-1;
    }
        
}

.item:hover .context-btn {
    visibility: visible;
}

.context-btn {
    padding-left: 1.5rem;
    padding-right: .5rem;
    align-self: stretch;
    
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;

    visibility: hidden;
}

.more-options__btn {
    display: block;
    border-radius: 50%;

    width: 5px;
    height: 5px;
    border: none;

    position: relative;
    cursor: pointer;

    &::before, 
    &::after {
        content: "";
        border-radius: 50%;
        
        width: 5px;
        height: 5px;

        position: absolute;
        left: 0;
    }

    &:after {
        top: 7px;
    }

    &:before {
        top: -7px;
    }

    &:focus { outline: none;}
}

.more-options__menu {
    border-radius: 5px;
    box-shadow: 0 1px 1rem rgba(black, .2);
    color: $color-main-grey;
    background-color: $color-white;
    
    position: absolute;
    right: 0;
    bottom: 0;
    
    z-index: 100;

    transform: translateY(100%);
}

.menu {
    list-style: none;

    &__item {
        padding: .5rem 1.5rem;
        transition: all .2s;

        & i {
            margin-right: 1rem;
        }

        &:hover {
            background-color: $color-grey-light-1;
        }
    }
}
