.item-active {
    padding: 1rem 0 1.5rem 0;
    grid-column: subgoal-start / subgoal-end;
    grid-row: 1 / 2;
    color: $color-secondary-blue-1;

    &__progress[value] {
        /* Reset the default appearance */
        -webkit-appearance: none;
        appearance: none;
      
        width: 100%;
        height: 1rem;
    }

    &__progress::-webkit-progress-bar {
        background-color: #eee;
        border-radius: 2px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }
    
    &__progress[value]::-webkit-progress-value {
        background-color: #57a250;
    }

    &__comment {
        grid-row: 3 / -1;
        grid-column: subgoal-start / subgoal-end;
    }

}

.comment {
    width: 100%;
    height: 100%;
    padding: 2rem 4rem;
    font-size: 1.6rem;
    color: inherit;
    border: none;

    &::-webkit-input-placeholder {
        color: $color-grey-light-2;
        font-weight: 100;
    }

    &:focus {
        outline: none;  
    }
}



