.goal-list {
    padding: 3rem 2rem; 

    flex: 1;

    border-right: 1px solid $color-grey-light-1;
}

.subgoals {
    margin: 0 auto;
    width: 70%;
    padding: 2rem 0;
    flex: 1;

    & .add__btn {
        width: 3.5rem;
        height: 3.5rem;
    }
}

.subgoal-list {
    padding: 2rem 0;
}

.item {
    padding: .5rem 0;
    display: flex;
    align-items: center;

    font-size: 1.4rem;
    color: inherit;

    border-bottom: 1px dotted $color-grey-light-1;
    position: relative;

    &--completed {

        & .item__status--label {
            border: 1px solid $color-green-2;
            color: $color-green-2;

            &:hover {
                transform: scale(1);
                color: $color-green-2;
                border: 1px solid $color-green-2;
            }
    
            &:active {
                transform: translateY(0);
            }
        }

        & .item__name {
            text-decoration: line-through;
        }

    }

    &__status {

        &--checkbox {
            display: none;
        }

        &--label {
            margin-right: 1rem;
            display: inline-block;
            width: 2.5rem;
            height: 2.5rem;

            color: inherit;
            border: 1px solid $color-grey-light-2;
            border-radius: 50%;
        
            transition: all .2s;
            position: relative;

            &:hover {
                transform: scale(1.1);
                color: $color-green-1;
                border: 1px solid #b9e1dc;
            }
    
            &:active {
                transform: translateY(5%);
            }

            & i {
                color: currentColor;
                @include absCenter;
            }
        }
    }

    &__name {
        flex: 1;
        font-size: inherit;
        padding: .5rem 2rem;
        color: #777;

        background-color: transparent;
        border: none;

        color: inherit;
        text-decoration: none;

        &:focus {
            outline: none;
        }
    }

    &:not(:last-child) { 
        margin-bottom: 1rem;
    }

    &:hover, 
    &-goal--active {
        background-color: rgba($color-grey-light-1, .2);
    }
        
}

.item:hover .more-options__btn {
    visibility: visible;
}

.more-options__btn {
    margin-left: 2rem;
    border-radius: 50%;
    display: inline-block;
    background-color: $color-grey-dark-3;
    width: 4px;
    height: 4px;
    border: none;
    position: relative;

    transition: all .1s;
    visibility: hidden;

    &::before, 
    &::after {
        content: "";
        display: inline-block;
        border-radius: 50%;
        background-color: $color-grey-dark-3;
        width: 4px;
        height: 4px;

        position: absolute;
        left: 0;
    }

    &::before {
        top: -7px;
    }
    &::after {
        top: 7px;
    }

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: $color-grey-dark-2;

        &::before,
        &::after {
            background-color: $color-grey-dark-2;
        }
    }
}

.more-options__menu {
    border-radius: 5px;
    box-shadow: 0 1px 1rem rgba(black, .2);
    background-color: white;
    
    position: absolute;
    right: 0;
    bottom: 0;

    display: none;
    z-index: 100;

    transform: translateY(100%);
}

.menu {
    list-style: none;

    &__item {
        padding: .5rem 1.5rem;
        transition: all .2s;

        & i {
            margin-right: 1rem;
        }

        &:hover {
            background-color: $color-grey-light-1;
        }
    }
}

.menu--active {
    display: block;
}
