.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 300;

    background-color: rgba(0,0,0,0.5);
}

.modal-box {
    width: 35vw;

    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 4rem 0 rgba(0,0,0,0.25);

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;

    @include respond(tab-port) {
        width: 60%;
    }

    @include respond(tab-port) {
        width: 80%;
    }
}

.modal {
    &-btn {
        display: inline-block;
        border: 2px solid #dee3e8;
        border-radius: 5px;
        outline: none;
        font-size: 1.4rem;
        color: $color-main-blue-1;
        font-weight: 400;
        padding: .5rem 1.5rem;
        transition: all .2s;

        &:hover {
            @include respond(hover) {
                border: 2px solid #cad2da;
            }
        }

        &:active {
            transform: translateY(.5px) scale(.98);
        }

        &--close {
            margin: .5rem;
            width: 3rem;
            height: 3rem;
            display: block;

            border: none;
            outline: none;
            align-self: flex-end;
            transition: all .2s;

            & i {
                font-size: 1.8rem;
                color: $color-main-blue-1;
            }

            &:active {
                transform: translateY(.5px) scale(.98);
            }
        }
    }

    &-text {
        flex: 1 0 0;

        width: 80%;
        margin: 1rem auto 4rem auto;

        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: .5px;
        text-align: left;

        @include respond(tab-port) {
            width: 90%;
        }
    }

    &-btns {
        margin: .5rem;
        align-self: flex-end;

        :not(:last-child) {
            margin-right: 1rem;
        }
    }
}