// Colors
$color-grey-dark-1: #555;

$color-grey-light-1: #e5e5e5;
$color-grey-light-2: #bbb;

$color-green: #347970;
$color-red: #F38181;

$color-violet-1: #756C83;
$color-violet-2: #e6e3e9;
$color-violet-3: #544d5e;

$color-light: #FBFBFB;